.form-modal {
  width: 500px;
  background-color: rgba(41, 40, 39, 0.301);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  border-radius: 20px;
}

.inside-form-container > div {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
